@media screen and (max-width: 1200px) {
  .header__left-signature {
    display: none;
  }

  header {
    padding-top: 20px;
  }

  .header__title {
    margin-bottom: 0;
  }

  .header__right a {
    margin-left: 20px;
  }

  .header__logo {
    margin-bottom: 15px;
  }

  .footer__signature {
    padding-top: 15px;
  }

  footer {
    padding-bottom: 25px;
  }

  .text {
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 992px) {
  .block-3 span {
    right: 100%;
  }

  .title {
    margin-bottom: 30px;
    letter-spacing: 16px;
  }

  .block-2 span {
    top: -5px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__right a {
    margin-left: 12px;
  }

  .header__title {
    letter-spacing: 0px;
    font-size: 16px;
  }

  .block-3 span {
    right: auto;
    left: 100%;
    bottom: auto;
    top: 0;
  }
}
@media screen and (max-width: 576px) {
  .line-2 {
    display: none;
  }

  header {
    padding-top: 15px;
  }

  .header__left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__center {
    display: none;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__title {
    text-align: center;
  }

  .header__right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__right a {
    margin-left: 8px;
    margin-right: 8px;
  }

  .block-1 span {
    display: none;
  }

  .title {
    letter-spacing: 12px;
    margin-bottom: 20px;
  }

  .block-3 span,
.block-4 span {
    display: none;
  }

  .footer__signature {
    width: 100%;
  }

  .block-2, .block-3, .block-4 {
    width: 40px;
    height: 40px;
  }

  .block-1 p {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 38px;
    font: 12px;
  }

  .line-3 {
    width: calc(50% - 40px);
    left: calc(25% + 20px);
  }

  .btns a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btns span {
    display: none;
  }
}